body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #1b1b1b;
}

header{
    width: 100vw;
    height: 8vh;
    padding: 30px 0px 0px 60px;
    position: absolute;
    z-index: 2;
}

header img#logo-main{
    width: 170px;
    height: 45px;
}

main{
    background: url(img/banner-login.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainop{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0,0,0, 30%);
}

.form{
    background-color: rgba(0,0,0, 65%);
    height: 60vh;
    width: 300px;
    font-family: 'Poppins';
    z-index: 2;
    padding: 40px 80px 0px 80px;
    transform: translateY(-70px);
    border-radius: 5px;
}

.form h1{
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
}

.form span,a{
    color: rgb(158, 158, 158);
}

.form #user-e, #user-p{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    display: block;
    background-color: #333333;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: 'Poppins';
    padding-left: 8px;
}

.form #user-e:focus, #user-p:focus{
    border-bottom: 2px solid #e87c03;
    transition: .1s;
    color: #a8a8a8;
    font-family: 'Poppins';
    padding-left: 8px;
}

.form #button-log{
    background-color: #E50914;
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 37px;
    cursor: pointer;
}

.set{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form .set input#check{
    background-color: rgb(158, 158, 158);
    margin-right: 7px;
}

.set input#check:checked{
    background: rgb(158, 158, 158);
}

.form #lem{
    font-size: 13px;
}

.form a#sen{
    font-size: 13px;
    text-align: right;
    width: 50%;
}

@media (max-width:600px){

    header{
        text-align: center;
        z-index: 3;
        padding: 30px 0
    }

    .form{
        padding: 250px 50px 0px 50px ;
        height: 100vh;
        width: 100vw;
        transform: translateY(0%);
    }

    .form a#sen{
        width: 100%;
        text-align: left;
        margin-top: 5px;
    }
}

@keyframes fade {

    0%{opacity: 100%;}

    100%{opacity: 0%;}

}

/* whoami */

.whoami{
    width: 100vw;
    height: 100vh;
    font-family: 'poppins';
    animation: open 3s;
}

@keyframes open {

    0%{opacity: 0%;}
    100%{opacity: 100%;}

}

.whoami header{

    width: 100vw;
    height: 8vh;
    padding: 30px 0px 0px 60px;
    position: absolute;
    z-index: 2;
}

.whoami header img#logo{
    width: 170px;
    height: 45px;
}

.whoami .content{
    display:block;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whoami .content h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.whoami .content .users{
    display: flex;
    margin: 0px 10px;
}
.whoami .content .users #user{
    margin: 0px 15px;
}

.whoami .content .users h3{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #808080;
    margin: 10px 0px;
}

.whoami .content img.im1,.im2,.im3,.im4{
    height: 180px;
    width: 180px;
    border-radius: 5px;
    
}
.whoami .content img.im1:hover,.im2:hover,.im3:hover,.im4:hover{
    border: 2px solid #cacaca;
    
    cursor: pointer;
}

@keyframes entmain{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}

/* whoami */

/*Maincont*/

.maincont{
    width: 100vw;
    height: 100vh;
    font-family: 'poppins';
}

.maincont header{
    background:  linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    padding: 20px 0px 20px 60px;
    display: flex;
    height: fit-content;
    align-items: center;
}

.maincont header #logo {
    width: 115px;
    height: 30px;
}

.sername{
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 5;
    transform: translate(60px,350px);
    animation: over 5s;
    display: flex;
    flex-direction: column;
}

@keyframes over {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

.sername img {
    width:70% ;
    height: 70%;
}

.sername span{
    padding-top: 15px;
    width: 500px;
    font-size: 22px;
    color: #fcfcfc;
    font-weight: 700px;
}

.sername h4{
    background-color: white;
    color: #1b1b1b;
    width: fit-content;
    padding: 10px 35px;
    border-radius: 3px;
}

.secvideo{
    width: 100vw;
    height: 100vh;
    background-color: #1b1b1b;
}

.banner{
    width: 100vw;
    height: 100vh;
    background: url(img/desencanto-im.jpg) no-repeat center center;
    background-size: cover;
    animation: entrance 1s;
    
}

@keyframes entrance {

    0%{opacity: 0;}
    100%{opacity: 45%;}

}

#back{
    min-width: 100vw;
    min-height: 100vh ;
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-size: cover;
    opacity: 45%;
}

.navmenu{
    display: flex;
    margin: 0;
}

.navmenu li{
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: #e5e5e5;
    padding: 0px 10px;
    cursor: pointer;
}

/*MainCont*/
/*Desenvolvido por AlfredoMJunior*/

